
extends ../../../layout/backend/layoutLogin
block content
	//- include ../../../layout/backend/helpers/status
	-var collection = 'configs';
	.row
		.col-lg-12
			h1.page-header=title
	.row
		.col-lg-12
			div!=locals.flash
			.panel.panel-default
				.panel-heading
					| Form
				// /.panel-heading
				.panel-body
					//- .row
					//- 	.col-lg-6
					//- 		include ../../../layout/backend/elements/errors
					//- 		+errors(errors)
					.row
						.col-lg-8
							include ../../../layout/backend/elements/errors
							+errors(errors)
							
							form(role="form", action='/'+collection+'/save' method="POST" , enctype="multipart/form-data")
								.form-group
									label Avatar
									//- -var linkavatar = '/public/uploads/article/'+(item.avatar!=undefined)?item.avatar:'';
									input.form-control.data-logo(type="file",name="avatar")
									//- img(src=(item!=undefined)?linkavatar:'', alt="")
								.form-group
									label Groups User
									input.form-control(name="group",type="text",placeholder="Groups User", require)
								.form-group
									label User
									input.form-control(name="username",type="text",placeholder="User",require)
								.form-group
									label Passwords
									input.form-control(name="password",type="password",placeholder="Passwords",require)
								.form-group
									label Email
									input(class="form-control", name="email", type="email", placeholder="Email",require)
								button(type="submit", class="btn btn-primary")
									| save
								a(type="button", href='/'+system.prefixAdmin+'/admin',class="btn btn-default") Cancel
