
extends ../../../layout/backend/layoutLogin
block content
	//- include ../../../layout/backend/helpers/status
	-var collection = 'configs';
	.row
		.col-lg-12
			h1.page-header=title
	.row
		.col-lg-12
			div!=locals.flash
			.panel.panel-default
				.panel-heading
					| Form
				// /.panel-heading
				.panel-body
					//- .row
					//- 	.col-lg-6
					//- 		include ../../../layout/backend/elements/errors
					//- 		+errors(errors)
					.row
						.col-lg-8
							form(role="form", action='/'+collection+'/save' method="POST" , enctype="multipart/form-data")
								.form-group
									label Avatar
									//- -var linkavatar = '/public/uploads/article/'+(item.avatar!=undefined)?item.avatar:'';
									input.form-control.data-logo(type="file",name="avatar")
									//- img(src=(item!=undefined)?linkavatar:'', alt="")
								.form-group
									label User
									input.form-control(name="user_name",type="text", value=(item!=undefined)?item.sdt:'',placeholder="User")
								.form-group
									label Passwords
									input.form-control(name="pass_word",type="passwords", value=(item!=undefined)?item.sdt:'',placeholder="Passwords")
								.form-group
									label Email
									input(class="form-control", name="email",value=(item!=undefined)?item.email:'', type="email", placeholder="Email")
								button(type="submit", class="btn btn-primary")
									| save
								a(type="button", href='/'+system.prefixAdmin+'/admin',class="btn btn-default") Cancel
