// start footer Area
footer.footer-area.section-gap
	.container
		.footer-bottom.row.align-items-center
			p.footer-text.m-0.col-lg-8.col-md-12
				// Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
				| Copyright ©
				script.
					document.write(new Date().getFullYear());
				|  All rights reserved | This template is made with 
				i.fa.fa-heart-o(aria-hidden='true')
				|  by 
				a(href='https://colorlib.com', target='_blank') Colorlib
				// Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
			.col-lg-4.col-md-12.footer-social
				a(href='#')
					i.fa.fa-facebook
				a(href='#')
					i.fa.fa-twitter
				a(href='#')
					i.fa.fa-dribbble
				a(href='#')
					i.fa.fa-behance

include linkLibrary/linkJs

