.popular-post-wrap
	h4.title Popular Posts
	.feature-post.relative
		.feature-img.relative
			.overlay.overlay-bg
			img.img-fluid(src=linkFolder+'img/f1.jpg', alt='')
		.details
			ul.tags
				li
					a(href='#') Food Habit
			a(href='image-post.html')
				h3 A Discount Toner Cartridge Is Better Than Ever.
			ul.meta
				li
					a(href='#')
						span.lnr.lnr-user
						| Mark wiens
				li
					a(href='#')
						span.lnr.lnr-calendar-full
						| 03 April, 2018
				li
					a(href='#')
						span.lnr.lnr-bubble
						| 06 Comments
	.row.mt-20.medium-gutters
		.col-lg-6.single-popular-post
			.feature-img-wrap.relative
				.feature-img.relative
					.overlay.overlay-bg
					img.img-fluid(src=linkFolder+'img/f2.jpg', alt='')
				ul.tags
					li
						a(href='#') Travel
			.details
				a(href='image-post.html')
					h4
						| A Discount Toner Cartridge Is
						| Better Than Ever.
				ul.meta
					li
						a(href='#')
							span.lnr.lnr-user
							| Mark wiens
					li
						a(href='#')
							span.lnr.lnr-calendar-full
							| 03 April, 2018
					li
						a(href='#')
							span.lnr.lnr-bubble
							| 06
				p.excert
					| Lorem ipsum dolor sit amet, consecteturadip isicing elit, sed do eiusmod tempor incididunt ed do eius.
		.col-lg-6.single-popular-post
			.feature-img-wrap.relative
				.feature-img.relative
					.overlay.overlay-bg
					img.img-fluid(src=linkFolder+'img/f3.jpg', alt='')
				ul.tags
					li
						a(href='#') Travel
			.details
				a(href='image-post.html')
					h4
						| A Discount Toner Cartridge Is
						| Better Than Ever.
				ul.meta
					li
						a(href='#')
							span.lnr.lnr-user
							| Mark wiens
					li
						a(href='#')
							span.lnr.lnr-calendar-full
							| 03 April, 2018
					li
						a(href='#')
							span.lnr.lnr-bubble
							| 06
				p.excert
					| Lorem ipsum dolor sit amet, consecteturadip isicing elit, sed do eiusmod tempor incididunt ed do eius.
// End popular-post Area