script(src='/public/admin/vendor/jquery/jquery.min.js')
// Bootstrap Core JavaScript
script(src='/public/admin/vendor/bootstrap/js/bootstrap.min.js')
// Metis Menu Plugin JavaScript
script(src='/public/admin/vendor/metisMenu/metisMenu.min.js')
// Morris Charts JavaScript
script(src='/public/admin/vendor/raphael/raphael.min.js')
script(src='/public/admin/vendor/morrisjs/morris.min.js')
// Custom Theme JavaScript
script(src='/public/admin/dist/js/sb-admin-2.js')
script(src='/public/admin/dist/js/main.js')
