// Navigation
nav.navbar.navbar-default.navbar-static-top(role='navigation', style='margin-bottom: 0')
	.navbar-header
		button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
			span.sr-only Toggle navigation
			span.icon-bar
			span.icon-bar
			span.icon-bar
		a.navbar-brand(href='index.html') SB Admin v2.0
	// /.navbar-header
	ul.nav.navbar-top-links.navbar-right
		li.dropdown
			a.dropdown-toggle(data-toggle='dropdown', href='#')
				i.fa.fa-user.fa-fw
				i.fa.fa-caret-down
			ul.dropdown-menu.dropdown-user
				li
					a(href='#')
						i.fa.fa-user.fa-fw
						|  User Profile
				li
					a(href='#')
						i.fa.fa-gear.fa-fw
						|  Settings
				li.divider
				li
					a(href='/auth/logout')
						i.fa.fa-sign-out.fa-fw
						|  Logout
			// /.dropdown-user
			// /.dropdown
			// /.navbar-top-links
	.navbar-default.sidebar(role='navigation')
		h1=system.prefixAdmin
		.sidebar-nav.navbar-collapse
			ul#side-menu.nav
				li.sidebar-search
					.input-group.custom-search-form
						input.form-control(type='text', placeholder='Search...')
						span.input-group-btn
							button.btn.btn-default(type='button')
								i.fa.fa-search
					// /input-group
				li
					a(href='/'+system.prefixAdmin+'/dashboard')
						i.fa.fa-dashboard.fa-fw
						|  Dashboard
				
				li
					a(href='/'+system.prefixAdmin+'/items/list')
						i.fa.fa-table.fa-fw
						|  List
				-if(permission == 'yes')		
					li
						a(href='/'+system.prefixAdmin+'/menu/list')
							i.fa.fa-table.fa-fw
							|  Menu		
					li
						a(href='#')
							i.fa.fa-group.fa-fw
							| Manage User
							span.fa.arrow
						ul.nav.nav-second-level.collapse.on(aria-expande="true" style="")
							li
								a(href='/'+system.prefixAdmin+'/groups/list')
									i.fa.fa-angle-double-right.fa-fw
									| Groups
							li
								a(href='/'+system.prefixAdmin+'/users/list')
									i.fa.fa-angle-double-right.fa-fw
									| Users	
				li
					a(href='#')
						i.fa.fa-edit.fa-fw
						| Manage Category
						span.fa.arrow
					ul.nav.nav-second-level.collapse.on(aria-expande="true" style="")
						li
							a(href='/'+system.prefixAdmin+'/categorys/list')
								i.fa.fa-angle-double-right.fa-fw
								| Category
						li
							a(href='/'+system.prefixAdmin+'/post-items/list')
								i.fa.fa-angle-double-right.fa-fw
								| Post
						li
							a(href='/'+system.prefixAdmin+'/article/list')
								i.fa.fa-angle-double-right.fa-fw
								| Article							
				
						
				