extends layout/backend/layoutLogin

block content
	-var collection = 'auth';	
	-var linkSubmit = '/'+system.prefixAdmin+'/'+collection+'/login';
	.login-panel.panel.panel-default
		.panel-heading
			h3.panel-title
				| Please Sign In
		.panel-body
			include ../../../layout/backend/elements/errors-login
			+errorsLogin(errors)
			form(role=form,action=linkSubmit , method='POST')
				fieldset
					.form-group
						input.form-control(type="text",placeholder='Username',name='username',value=item.username)
					.form-group
						input.form-control(type="text",placeholder='Password',name='password',value=item.password)	
					.form-group
						button.btn.btn-primary(type='submit') Login	