mixin imageHelpder(folder,imageName,altImg,className = 'img-responsive img-avatar')
	-if(imageName== undefined || imageName =='' )
		-imageName = 'noavatar.jpeg'
	img(src=folder+imageName, alt=altImg, class=className,data-src=folder+imageName)